@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$cor-bg: #FFFFFF;
$cor-principal: #0CC5FF;
$cor-principal-high: #3ad1ff;
$cor-em-principal: white;
$cor-outline: #DEDEDE;
$cor-complementar: #F1F1F1;
$cor-complementar-high: #e2e2e2;
$cor-em-complementar: #000000;
$cor-perigo: #FF3D00;
$cor-perigo-high: #ff6a3d;
$cor-em-perigo: #FFFFFF;



$tempo-transicao: 75ms;

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

app-root {
    display:flex;
    flex-direction: column;
    gap:60px;
    height: 100%;
}

app-root > * {
    display: flex;
    flex-direction: column;
    height: 100%;
} 

*, *::after, *::before {
    box-sizing: border-box;
}

p {
    margin: 0;
}

button {
    border-radius: 5px;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: $cor-principal;
    color:$cor-em-principal;

    transition: $tempo-transicao;
}

button:hover {
    background-color: $cor-principal-high;
}

button {
    cursor: pointer;
}

button.neutro {
    background-color: $cor-complementar;
    color: $cor-em-complementar;
}
button.neutro:hover {
    background-color: $cor-complementar-high;
}

button.perigo {
    background-color: $cor-perigo;
    color: $cor-em-perigo;
}
button.perigo:hover {
    background-color: $cor-perigo-high;
}

.cor-complementar {
    color: $cor-principal;
}

a {
    text-decoration: none;
    color:inherit;
    outline: 0;
    transition: $tempo-transicao;
}

a:hover {
    color: $cor-principal;
}

img {
    object-fit: cover;
    padding:10px;
}

input {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: $cor-complementar;
    outline: none;
}

painel-header {
    display:contents;
}