
@use "../../app.component.scss" as g;


main {
    display: flex;
    flex-direction: column;
    gap:60px;
    padding: 100px;

}

.showcase-inicio {
    display: flex;
    position: relative;
    font-size: 64px;
    width: 100%;
    overflow: hidden;
    gap: 60px;
}

.showcase-texto {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.texto-inicio-sub {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 36px;
}

#cards-showcase {
    display: flex;
    position: relative;
    gap: 35px;
    overflow: hidden;
    width: fit-content;

    // padding-left: 35px;
    // padding-right: 35px;

}

#cards-showcase::before {
    content: "";
    position: absolute;
    left: 0;
    background: linear-gradient(to right, g.$cor-principal, rgba(0,0,0,0));
    width: 100px;
    height: 100%;
}

#cards-showcase::after {
    content: "";
    position: absolute;
    right: 0;
    background: linear-gradient(to left, g.$cor-principal, rgba(0,0,0,0));
    width: 100px;
    height: 100%;
}

.card-showcase {
    min-width: 450px;
    height: 450px;

    border-radius: 15px;
    // border: 1px solid g.$cor-outline;
    background-color: g.$cor-principal-escura;
}





.showcase-titulo {
    font-size: 32px;
}

.card-showcase {
    display:flex;
    flex-direction: column;
    padding:20px;
    gap:10px;
    max-width: 450px;
}

.showcase-img {
    flex: 1;
    border-radius: 20px;
}
