<painel-header></painel-header>
<main>

    <h1>{{usuario}}</h1>
    <div class="holder-login">
        <label>Apelido</label>
        <input class="input-main" placeholder="Apelido..." #inputApelido>
        <label>Senha</label>
        <input class="input-main" placeholder="Senha..." #inputSenha1>
        
        <!-- <template *ngIf="tipo == 'Registrar'"> -->
            <label *ngIf="tipo === 'Registrar'">Confirmar Senha</label>
            <input *ngIf="tipo === 'Registrar'" class="input-main" placeholder="Senha..." #inputSenha2>
        <!-- </template> -->
        
        <a *ngIf="tipo === 'Entrar'" routerLink="/registrar" class="texto-toggle-tipo" >Nao tem uma conta? Registre por aqui</a>
        <a *ngIf="tipo === 'Registrar'" routerLink="/entrar" class="texto-toggle-tipo" >Tem uma conta? Entre por aqui</a>
        <button *ngIf="tipo === 'Entrar'"  (click)="logar()">Logar</button>
        <button *ngIf="tipo === 'Registrar'"  (click)="registrar()">Registrar</button>

    </div>
</main>
