<header id="painel-cabecalho">
    <a>Inicio</a>
    <a>Produtos</a>
    <a>Contato</a>
    <input class="barra-pesquisa" placeholder="Pesquisar Produto...">
  </header>
  <main>
    <section class="showcase-inicio">
      <div class="showcase-texto">
        <p >
          Eai <span class="cor-complementar">Usuario,</span><br/>
          Bora Comprar?
        </p>
        <p class="texto-inicio-sub">
          Encontre o Produto perfeito para voce!
        </p>
      </div>
      <div id="cards-showcase">
        <div class="card-showcase">
  
        </div>
  
        <div class="card-showcase">
  
        </div>
      </div>
      
    </section>
  
    <section class="explorador-produtos" >
      <div class="card-produto" *ngFor="let produto of produtos">
        <header class="header-produto">
          <p>
            {{produto.nome}}
          </p>
          <p>
            {{produto.avaliacao}}
          </p>
        </header>  
        <footer class="footer-produto">
          <p class="">
            R$ {{produto.preco}}
          </p>
          <button>
            Expandir
          </button>
        </footer>
      </div>
    </section>
  </main>
  
  